<!DOCTYPE html>
<html ng-app="race">
    <head>
        <meta charset="UTF-8">
        <title>HKJC</title>
        <script src="scripts/jquery-2.1.3.min.js"></script>
        <script src="scripts/angular.min.js"></script>
        <link rel="stylesheet" href="angular-csp.css" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="scripts/bootstrap-3.3.4-dist/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="scripts/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="scripts/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
        <script src="scripts/jquery-ui-1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="scripts/jquery.xml2json.js"></script>
        <script src="scripts/popup.js"></script>
        <style>
            tr{
                font-size: 13pt;
            }
/*
            table {
                table-layout: fixed;
            }
            .ui-tooltip {
                max-width: 400px;
            }
*/
        </style>
    </head>
    <body ng-controller="RaceController as raceCtrl" ng-init="updateOdds(1)" style="width: 980px">
        <input type="hidden" id="speedMapImg" value="{{raceCtrl.speedMap}}"/>
        <div style="width: auto">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-model="Number" ng-repeat="n in [] | range:numOfRace" ng-class="{ active: Number === n + 1}"><a ng-click="updateOdds($index + 1)"><h2>&nbsp;&nbsp;{{n + 1}}&nbsp;&nbsp;</h2></a></li>
            </ul>
            <div ng-hide="isEmptyRace()" class="panel panel-default">
                <div class="panel-heading">
                    <h2><span class="label label-default">{{ race.RACE_NAME_C }}</span> <span class="label label-primary">{{ race.CLASSES_C + " " + (race.track === "TURF" ? "草地" : "泥地")}}</span> <span class="label label-info">{{ race.DISTANCE + "米"}}</span> <span class="label label-warning">{{ race.POST_DATE }}</span> <span class="label label-success">{{ race.POST_TIME | toTime}}</span></h2>
                </div>
                <img ng-src="{{raceCtrl.speedMap}}" width="860px"/>
                <div ng-bind-html="jkResult"></div>
                <table class="table" style="width: auto">
                    <tr>
                        <th>#</th>
                        <th>馬名</th>
                        <th>檔位</th>
                        <th>負磅</th>
<!--                        <th>騎師</th>-->
                        <th>獨贏(值博)</th>
                        <th>下降</th>
                        <th>位置(值博)</th>
                        <th>下降</th>
                        <th>速勢榜</th>
                        <th>狀態</th>
                        <th>各報貼士</th>
<!--                        <th>練貼士</th>-->
                        <th>指數</th>
                        <th>名次</th>

                    </tr>
                    <tr ng-repeat="runner in race.RUNNER" title="{{ '現時評分: ' + runner.RATING }}" ng-hide="runner.NUM === '(Null)'">
                        <td>{{ runner.NUM === "(Null)" ? "後備" : runner.NUM }}</td>
                        <td><a id="{{ runner.HORSE_NUM }}" ng-href="{{ 'http://racing.hkjc.com/racing/info/horse/smartform/chinese/' + runner.HORSE_NUM  }}">{{ runner.HORSE_NAME_C }}</a><br><small>{{ runner.JOCKEY_NAME_C }}</small></td>
                        <td>{{ runner.BAR_DRAW }}<br><small>({{getBarChance(runner.BAR_DRAW)}}%)</small></td>
                        <td>{{ runner.HANDICAP_WGT }}</td>
<!--                        <td>{{ runner.JOCKEY_NAME_C }}</td>-->
                        <td ng-style="getOddStyle(wins[runner.NUM - 1].HF)">{{ wins[runner.NUM - 1].WILLPAY / 1000 + " (" + getWinFairValue(runner.NUM - 1, runner.BAR_DRAW) + ")"}}</td>
                        <td ng-style="getOddDropStyle(wins[runner.NUM - 1].ODDSDROP)">{{ wins[runner.NUM - 1].ODDSDROP }}%</td>
                        <td ng-style="getOddStyle(plas[runner.NUM - 1].HF)">{{ plas[runner.NUM - 1].MIN_WILLPAY / 1000 + " (" + getPlaFairValue(runner.NUM - 1, runner.BAR_DRAW) + ")" }}</td>
                        <td ng-style="getOddDropStyle(plas[runner.NUM - 1].ODDSDROP)">{{ plas[runner.NUM - 1].ODDSDROP }}%</td>
                        <td ng-style="isMax(speedIndex[runner.HORSE_NAME_C])">{{ speedIndex[runner.HORSE_NAME_C] }}</td>
                        <td>{{ fitnessRating[runner.HORSE_NAME_C] }}</td>
                        <td><small>{{ raceCtrl.getTips(runner.HORSE_NAME_C) }}</small><br><small>{{ raceCtrl.getOnccTip(runner.HORSE_NAME_C) }}</small></td>
<!--                        <td></td>-->
                        <td>{{ getWinIndex(runner.HORSE_NAME_C, runner.NUM - 1, runner.BAR_DRAW)}}</td>
                        <td>{{ raceCtrl.result[runner.HORSE_NAME_C] }}</td>

                    </tr>
                </table>
                <div class="panel-footer">更新時間: {{ updateDate }} {{ updateTime }}</div>
            </div>
        </div>
    </body>
</html>